.about {
    min-height: 390px;
}

.main-text-black {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 70px;
}

.button-black {
    height: 47px;
    border: 1px solid #d7d7d7;
    border-radius: 24px;
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    background-color: #fff;
    margin-top: 40px;
    width: 150px;
    margin-bottom: 65px;
}
